.layout{
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 250px;
  background-color: var(--dark-color);
  color: white;
  z-index: 1000;
  transition: transform 0.3s ease;
}

.main-content{
  flex: 1;
  margin-left: 250px;
  overflow-y: auto;
}
@media (max-width: 768px) {
  .main-content{
    margin-left: 0;
  }
}

.content{
  padding: 0 40px;
  /* margin-top: 20px; */
}

/* Container for the content to help with spacing */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Responsive handling */
@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
  }
  
  .sidebar.open {
    transform: translateX(0);
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .main-content {
    margin-left: 0;
    width: 100%;
  }
  
  .main-content.sidebar-shifted {
    margin-left: 250px;
    width: calc(100% - 250px);
  }
}